.fcc-App {
  font-family: sans-serif;
  text-align: center;
}

.fcc-App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
}

.fcc-wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.fcc-editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.fcc-toolbar-class {
  border: 1px solid #ccc;
}
.fcc-code-view {
  padding: 1rem;

  margin: 10px;
}
.fcc-text-area {
  width: 100%;
  background: black;
  border: 1px solid #ccc;
  color: white;
  min-height: 200px;
}

/* https://codesandbox.io/s/wysiwyg-editor-demo-sjko5?file=/src/styles.css:0-672 */


.product-editor-inline-box {
  display: inline-flex;
  width: 150px;
  min-height: 150px;

}
